<!--

<tr>
    <td><%= task.content %></td>
    <td><%= task.state %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
    <% if task.state == 'doing' %>
    <td><%= link_to 'Mark as To do', change_task_path(task, state: 'to_do'), method: :put%></td>
    <td><%= link_to 'Mark as Done', change_task_path(task, state: 'done'), method: :put%></td>
    
    <% else %>
    
    <td><%= link_to 'Mark as Doing', change_task_path(task, state: 'doing'), method: :put%></td>
    
    <% end %>
</tr>
-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="panel panel-primary">	
	<div class="panel-heading" style="color:white"> 
	<%= link_to edit_task_path(task) do %>
	Criado <%= time_ago_in_words( task.created_at ) %> ago
	<% end %>
	<%= link_to 'X', task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class: 'pull-right' %>
	</div>
	
	<div class="panel-body"><%= task.content %></div>
	 
	
	<div class="panel-footer text-center">
	<% if task.state == 'doing' %>
         <%= link_to "<i class ='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: 'to_do'), method: :put%>
         <%= link_to "<i class ='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: 'done'), method: :put%>
    
    <% elsif task.state == 'done' %>
        <%= link_to "<i class ='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: 'doing'), method: :put%>

    <% else %>    
        <%= link_to "<i class ='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: 'doing'), method: :put%>
    
    <% end %>
	</div>

</div>